<plugin name='wechat' version='1.2.0' grailsVersion='2.0.0 &gt; *'>
  <author>Haihua Xiao</author>
  <authorEmail>hhxiao@gmail.com</authorEmail>
  <title>Grails Wechat Plugin</title>
  <description>Grails plugin provides wechat integration features.
</description>
  <documentation>https://github.com/hhxiao/grails-wechat</documentation>
  <type>WechatGrailsPlugin</type>
  <resources>
    <resource>WechatUrlMappings</resource>
    <resource>org.grails.plugin.wechat.WechatController</resource>
    <resource>org.grails.plugin.wechat.WxpayController</resource>
    <resource>org.grails.plugin.wechat.WechatUser</resource>
    <resource>org.grails.plugin.wechat.WechatCustomerService</resource>
    <resource>org.grails.plugin.wechat.WechatMediaService</resource>
    <resource>org.grails.plugin.wechat.WechatMenuService</resource>
    <resource>org.grails.plugin.wechat.WechatMessageService</resource>
    <resource>org.grails.plugin.wechat.WechatPayService</resource>
    <resource>org.grails.plugin.wechat.WechatPromotionService</resource>
    <resource>org.grails.plugin.wechat.WechatResponseService</resource>
    <resource>org.grails.plugin.wechat.WechatTokenService</resource>
    <resource>org.grails.plugin.wechat.WechatUserService</resource>
    <resource>org.grails.plugin.wechat.internal.WechatHandlerService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='commons-codec' name='commons-codec' version='1.9' />
      <dependency group='com.google.code.gson' name='gson' version='2.3.1' />
      <dependency group='org.apache.httpcomponents' name='httpmime' version='4.3.6' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>